@tailwind base;
@tailwind components;
@tailwind utilities;

.plant {
  @apply flex flex-row items-center bg-white border border-gray-200 rounded-lg shadow;
}
.plant .image {
  @apply object-cover w-full rounded-t-lg h-96 h-auto w-28 rounded-none rounded-l-lg
}
.plant .details {
  @apply flex justify-around flex-col justify-between p-4 leading-normal relative h-full ;
}
.plant .title {
  @apply mb-2 text-2xl font-bold tracking-tight text-gray-900;
}
.plant .quantity {
  @apply items-center px-3 py-2 text-sm font-medium rounded-lg border-solid border border-gray-400;
}
.plant .waterBtn {
   @apply items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-700 rounded-lg;
}
.plant .waterBtn:hover {
   @apply bg-teal-800;
}
.plant .waterBtn:focus {
   @apply outline-none ring-teal-300;
}
.plant .stopBtn {
  @apply items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-700 rounded-lg; 
}
.plant .stopBtn:hover {
  @apply bg-lime-800;
}
.plant .stopBtn:focus {
  @apply ring-4 outline-none ring-lime-300;
}
.plant .scheduled .stopBtn {
  @apply bg-amber-700; 
}
.plant .scheduled .stopBtn:hover {
  @apply bg-amber-800;
}
.plant .scheduled .stopBtn:focus {
  @apply ring-amber-300;
}
.plant .watering {
  @apply text-center absolute p-3 top-0 left-0 right-0 bottom-0 rounded-r-lg bg-lime-600/[.95];
}
.plant .watering.scheduled {
  @apply bg-amber-300/[.95];
}
/*
.module {
}
.module .devices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.module .devices .device {
  width: 200px;
  border: 1px solid greenyellow;
  padding: 10px;
  transition: all .25s;
}
.module .devices .device .form {
  display: flex;
}
.module .devices .device .form input {
  width: 40px;
}
.module .devices .device .status {
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
}

.module .devices .device.is-watering {
  background: greenyellow;
}
.module .devices .device.is-scheduled {
  background: yellow;
}
*/
