@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
body {
  @apply text-slate-600;
}

h1 {
  @apply font-bold text-3xl;
}

h2 {
  @apply font-bold text-2xl;
}

.btn {
  @apply items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-slate-500;
}
.btn:hover {
  @apply bg-slate-900;
}
.btn.btn-sm {
  @apply px-2 py-1 text-xs;
}
.btn.btn-md {
  @apply px-2 py-1 text-sm;
}
.btn.btn-primary {
  @apply bg-teal-800;
}
.btn.btn-secondary {
  @apply bg-stone-800;
}
.btn.btn-rounded {
  @apply rounded-full px-2;
}
.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* FORMS */
form label {
  @apply block mb-1 text-sm font-medium text-gray-700;
}
.form {
  @apply w-full
}
.form input, .form select {
  @apply font-bold items-center p-2 text-sm rounded-lg border-solid border border-gray-400;
}
.form input:disabled, .form select:disabled {
  @apply bg-gray-100 text-gray-500;
}
.form input.is-changed, .form input.is-changed + span.unit-label {
  @apply border-blue-600;
  animation: bounce .6s;
}
.form input.error, .form input.error + span.unit-label {
  @apply border-red-600;
}
.form select {
  @apply bg-slate-100;
}
.form .unit {
  @apply w-full border-r-0 rounded-none rounded-l-lg text-left;
}
.form .unit.unit-sm {
  @apply w-14 border-r-0 rounded-none rounded-l-lg text-left;
}
.form .unit-label.unit-label-sm {
}
.form .unit-label {
  @apply w-2/6 text-right;
}
.form .unit {
  @apply font-bold items-center pl-3 py-2 text-sm rounded-l-lg border-solid border border-gray-400 border-r-0 w-full;
}
.form .unit-label {
  @apply pr-3 text-sm pl-1 py-2 font-medium rounded-r-lg border-solid border border-gray-400 border-l-0;
}
.form .unit:focus {
  @apply outline-none;
}
.card {
  @apply border bg-white border-gray-200 rounded-lg shadow p-4 mb-4;
}
.form .inputBtn {
  @apply bg-slate-300 p-2 text-sm rounded-none text-slate-900 rounded-r-lg border border-gray-400;
}

.row.saved {
  @apply bg-lime-200 duration-200;
}

/* Utilities */
.badge {
  @apply border border-gray-300 inline-block px-2 py-1 text-xs font-medium leading-none text-gray-600 bg-gray-200 rounded-full whitespace-nowrap;
}
.badge.badge-lg {
  @apply px-3 py-1 mt-1 text-sm;
}
.badge.badge-primary {
  @apply text-white bg-blue-500 border-blue-600;
}
.badge.badge-secondary {
  @apply text-white bg-green-500 border-green-600;
}
.badge.badge-ternary {
  @apply text-white bg-teal-500 border-teal-600;
}

/* Modal */
.modal {
  @apply fixed inset-0 z-50 overflow-hidden flex items-center justify-center p-2;
  @apply bg-gray-900 bg-opacity-75;
  @apply transition-opacity duration-200;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes backgroundFromBlueToWhite {
  0% {
    @apply bg-blue-200;
  }
  100% {
    @apply bg-white;
  }
}
